@page "/add-paciente"
@using ProyectoFinal.Models
@using ProyectoFinal.Services
@inject PacienteService PacienteService
@inject NavigationManager Navigation

<h3>Agregar Paciente</h3>

<EditForm Model="@paciente" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div style="margin-bottom: 15px;">
        <label for="cedula" style="display: block; margin-bottom: 5px;">Cédula:</label>
        <InputText id="cedula" @bind-Value="paciente.cedula" style="padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; width: 100%;" />
    </div>
    <div style="margin-bottom: 15px;">
        <label for="nombre" style="display: block; margin-bottom: 5px;">Nombre:</label>
        <InputText id="nombre" @bind-Value="paciente.nombre" style="padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; width: 100%;" />
    </div>
    <div style="margin-bottom: 15px;">
        <label for="apellido1" style="display: block; margin-bottom: 5px;">Apellido 1:</label>
        <InputText id="apellido1" @bind-Value="paciente.apellido1" style="padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; width: 100%;" />
    </div>
    <div style="margin-bottom: 15px;">
        <label for="apellido2" style="display: block; margin-bottom: 5px;">Apellido 2:</label>
        <InputText id="apellido2" @bind-Value="paciente.apellido2" style="padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; width: 100%;" />
    </div>

  

    <button type="submit">Guardar</button>
</EditForm>

@code {
    private Paciente paciente = new Paciente();

    private void HandleValidSubmit()
    {
        PacienteService.AddPaciente(paciente);
        Navigation.NavigateTo("/pacientes");
    }
}